* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteiner{ 
    background-image: url(./img/Rectangle.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100%;
    min-height: 900px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.heading{
    width: 900px;
    left: 545px;
    top: 359px;
    padding: 6px 12px;
    line-height: 22px;
}

p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

h2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    color: #323232;    
    margin-top: 25px;
}
.h2-white{
    color: white;
    font-size: 48px;
    line-height: 64px;
}

.btn{
    color: #FFFFFF;
    margin-top: 40px;
    width: 200px;
    height: 45px;
    background: #4985FF;
    border-radius: 30px;
    outline: none;
}
.btn:hover{
    background-color: blue;
    cursor: pointer;
}

.menu{
    position: absolute;
    top: 0;
    left: 50%;
    margin: 40px 0;
}

hr{
    position:absolute;
    top: 0;
    width: 100%;
    margin-top: 100px;
    opacity: 0.5;
    border: 1px solid #A1A1A1;    
}

.nav{
    font-size: 16px;
}
.nav-item{
    text-decoration: none;
    margin: 0 20px;
    color: #FFFFFF;
    padding-bottom: 41px;
}
.nav-item:hover{
    text-decoration: underline blue;
    border-bottom: 3px solid #FFFFFF;
}